<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Calculo de Aplicação financeira com Juros Compostos.</title>
		<link rel="stylesheet" href="/css/aplicacao.css" type="text/css" media="screen" charset="utf-8">
	</head>
	<body>
		<div id="top">
			
		</div>
		<div id="menu">
			
		</div>
		<div id="content">
			<div id="form">
				<form action="/calculo" method="POST" accept-charset="utf-8">
					<label for="capital_inicial">Capital Inicial</label>
					<input type="text" name="capital_inicial" value="" id="capital_inicial"><br />
					<label for="juros">Juros</label>
					<input type="text" name="juros" value="" id="juros"><br />
					<label for="tempo">Tempo em Meses</label>
					<input type="text" name="tempo" value="" id="tempo"><br />
					<label for="aplicacao_mensal">Aplicação Mensal</label>
					<input type="text" name="aplicação_mensal" value="" id="aplicação_mensal">
					<p><input type="submit" value="Calcular"></p>
				</form>
			</div>
		</div>
		<div id="footer">
			
		</div>
	</body>
<html>