html,body{height:100%;}
label {
	float: left;
	width: 120px;
	font-weight:bold;
	font-size:15px;
}
br {
	clear:left;
}
input, textarea{
	margin-bottom:5px;
	width:400px;
}
#top{
	height:100px;
	background:red;
}
#menu{
	height:30px;
	background:blue;
}
#form{
	margin-left:400px;
	width:450px;
	padding-top:15px;
}
#content{
	height:auto !important;
	height:100%;
	min-height:100%;
}
#footer{
	bottom:0px;
	position:absolute;
	height:20px;
	background:green;
	clear:both;
}
